{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Контакты | autoasiakg{% endblock %}
{% block content %}

<body class="res layout-1">
    
    <div id="wrapper" class="wrapper-fluid banners-effect-5">
    

    {% include 'header.html' %}

    <!-- //Header Container  -->
    
	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="{% url 'main:index' %}"><i class="fa fa-home"></i></a></li>
			<li><a href="contact.html#">Страница</a></li>
			<li><a href="{% url 'main:contact' %}">Контакты</a></li>			
		</ul>
		
		<div class="row">
			<div id="content" class="col-sm-12">
				<div class="page-title">
					<h2>Контакты</h2>
				</div>
				
				
				
				<div class="info-contact clearfix">
					<div class="col-lg-4 col-sm-4 col-xs-12 info-store">
						<div class="row">
							<div class="name-store">
								<h3>Ваш магазин</h3>
							</div>
							<address>
								<div class="address clearfix form-group">
									<div class="icon">
										<i class="fa fa-home"></i>
									</div>
									<div class="text"><a href="https://2gis.kg/bishkek/firm/70000001023398167?m=74.528065%2C42.875423%2F17">Патриса Лумумбы 8, 1 этаж</a></div>
								</div>
								<div class="phone form-group">
									<div class="icon">
										<i class="fa fa-phone"></i>
									</div>
									<div class="text">Phone : +9960505888181</div>
								</div>
								<div class="comment">             
								Maecenas euismod felis et purus consectetur, quis fermentum velition. Aenean egestas quis turpis vehicula.Maecenas euismod felis et purus consectetur, quis fermentum velition. 
								Aenean egestas quis turpis vehicula.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
								The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
								</div>
							</address>
						</div>
					</div>
					<div class="col-lg-8 col-sm-8 col-xs-12 contact-form">
						<form action="{% url 'main:applications' %}" method="post" class="form-horizontal">
							  {% csrf_token %}
							<fieldset>
								<legend>Форма обратной связи</legend>
								<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-name">Ваше Имя</label>
							<div class="col-sm-10">
								<input type="text" name="name" value="" id="input-name" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="input-email">Электронная почта</label>
								<div class="col-sm-10">
									<input type="text" name="mail" value="" id="input-email" class="form-control">
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-2 control-label" for="input-enquiry">Номер телефона</label>
									<div class="col-sm-10">
										<!-- <textarea name="phone" rows="10" id="input-phone" class="form-control"></textarea> -->
										<input type="text" name="phone" value="" id="input-phone" class="form-control">
									</div>
								</div>
							</fieldset>
							<div class="buttons">
								<div class="pull-right">
									<button class="btn btn-default buttonGray" type="submit">
										<span>Отправить</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Main Container -->
	

	{% include 'footer.html' %}

    </div>
	
	

	
</body>
{% endblock %}